@media screen and (max-width: 480px){
    // mobilCSS     
    nav ul{
        list-style-type: none;  
    }
    #home {
        border-left: 2px solid black;
        border-right: 2px solid black;
        font-size: 1em;
    }
    #news {
        border-right: 2px solid black;	
        font-size: 1em;
    }
    #contact{
        border-right: 2px solid black;	
        font-size: 1em;
    }
    #about {	
        border-right: 2px solid black;
        font-size: 1em;
    }
    .boxene{
        padding: 10px;
        padding-bottom: 0px;
    }
    #usb1 {
        height: 400px;
        width: 450px; 
    }
    nav ul li{
        display: inline;
    }
    #bulletpoints {
        font-size: 1.25em;
    }
    nav li a:link, nav li a:visited {        
        font-weight: bold;
        font-family: 'Russo One', sans-serif;
        color: #333333;
        background-color: #98bf21;   
        text-decoration:none;
    }
    nav li a:hover {
        background-color: #7A991A;
    }
    body{
        margin:0px;
        padding: 0px;
    }
    #footer1{
        background-color: #98bf21;
        text-align: center;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        line-height: 30%;
    }   
    nav {
        background-color: #98bf21;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
    }
}
@media screen and (min-width: 1142px){
nav li{
    display: inline;
    width:24%;
}
nav {
    width: 100%;
    background-color: #98bf21;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}
nav ul{
	margin-top: 0;
    margin-bottom: 0;
}

#navigator1{
	float: left;
}
#navigator2{
	float: left;
}
#home {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: -43px;
    font-size: 1.8em;
}
#news {
   	margin-left: -4px;
    border-right: 2px solid black;	
    font-size: 1.8em;
}
#contact{

    margin-left: -4px;
    border-right: 2px solid black;	
    font-size: 1.8em;
}
#about {	
    margin-left: -4px;
    border-right: 2px solid black;
    font-size: 1.8em;
}
#frontbilde{
	margin-right: 5em;
	margin-left: -25px;

}
#bildet{
	margin-bottom: -0.65em;
	width:11em;
	height: 42px;

}

.boxene{
	float:left;
	width:24%;
	margin-left: 105px;
	margin-bottom: 20px;


}
.left{
	float:left;
}
.clear{
	clear:left;
}
#logo1 {
	margin-top: 3em;
	margin-left: 20%;
}
#logo2 {
	margin-top: 3em;
	margin-left: 5%;
	margin-right: 300px;
}
#usb1 {
 	height: 400px;
 	width: 450px; 
 }
#bulletpoints {
	font-size: 28px;
}
nav li a:link, nav li a:visited {
    display: inline-block;
    width: 12%;              
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    color: #333333;
    background-color: #98bf21;   
    text-align: center;
    padding-top: 4px;
    text-decoration:none;
    text-transform: lowercase;  
    height: 38px;
    font-size: 1.8em;


}
nav li a:hover {
    background-color: #7A991A;

}
#top{
	border: 5px solid red;

}
body{
	margin:0;
}
ul li{
	
}
#footer1{
	width: 100%;
    background-color: #98bf21;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    float: right;
    line-height: 30%;
    bottom:0;
    
}
#footer2{
	width: 100%;
    background-color: #98bf21;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    float: right;
    line-height: 30%;
    bottom:0;
    
    }
}
