nav li{
    display: inline;
    width:24%;
}
nav {
    width: 100%;
    background-color: #98bf21;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}
nav ul{
	margin-top: 0;
    margin-bottom: 0;
}

#navigator1{
	float: left;
}
#navigator2{
	float: left;
}
#home {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: -40px;
    font-size: 1.8em;
}
#news {
   	margin-left: -4px;
    border-right: 2px solid black;	
    font-size: 1.8em;
}
#contact{

    margin-left: -4px;
    border-right: 2px solid black;	
    font-size: 1.8em;
}
#about {	
    margin-left: -4px;
    border-right: 2px solid black;
    font-size: 1.8em;
}
#frontbilde{
	margin-right: 5em;
	margin-left: -25px;

}
#bildet{
	margin-bottom: -0.65em;
	width:11em;
	height: 42px;


}
.boxene{

	float:left;
	width:24%;
}
.left{
	float:left;
}
.clear{
	clear:left;
}
#logo {
	margin-top: 3em;
	margin-left: 10%;
}
#bulletpoints {
	font-size: 28px;
}
nav li a:link, nav li a:visited {
    display: inline-block;
    width: 12%;              
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    color: black;
    background-color: #98bf21;   
    text-align: center;
    padding-top: 4px;
    text-decoration: none;
    text-transform: lowercase;  
    height: 38px;
    font-size: 1.8em;


}
nav li a:hover {
    background-color: #7A991A;

}
header{


}
body{
	margin:0;
}
ul li{
	
}
